@model IEnumerable<Core.Entites.Catalog.Deal>

<div class="jumbotron">
    <div class="container-fluid">

        <div class="row">
            @foreach (var deals in Model)
            {
                @if (deals.ShowOnSmallBanner == true)
                {
                    @if (@deals.dealPictures.Count==0)
                    {
                        <div class="col-lg-3 col-md-6 col-12">
                            <a asp-controller="Deals" asp-route-dealSlug="@deals.Slug" asp-action="Index">
                                <img class="img-fluid"
                                     src="/images/images/noImage.png"/>
                            </a>
                        </div>
                    }

                    else
                    {
                        <div class="col-lg-3 col-md-6 col-12">
                            <a asp-controller="Deals" asp-route-dealSlug="@deals.Slug" asp-action="Index">

                                <img class="img-fluid"
                                     src="/uploads/@deals.dealPictures.Where(x => x.DisplayOrder == 1).Single().picture.MimeType" />
                            </a>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>
