@model Web.DTOs.RegisterDTO


<div class="page-header">
    <div class="container">
        <h1>
            Login and Create Account
        </h1>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-md-6">
                @{ Html.RenderPartial("~/Views/Shared/PartialView/_RegisterPartial.cshtml");}
        </div>
    </div>

</div>