@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Web.Areas.Admin.ViewModels.Catalog.ASpecificationAttributeOptionModel;

<form asp-controller="SpecificationAttribute" asp-action="CreateAttributeOption" method="post">

    <div class="row">

        <select asp-for="specificationAttributeId">

            @foreach (var att in Model.specificationAttributes)
            {
                <option value="@att.Id">@att.Name</option>
            }

        </select>

        <div class="col-md-12">
            <div class="form-group">
                <label>Value:</label>
                <input asp-for="Name" type="text" class="form-control required" />
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label>Display Order</label>
                <input asp-for="DisplayOrder" type="number" class="form-control required" />
            </div>
        </div>

        <button class="btn btn-primary" type="submit">
            Add
        </button>

    </div>
</form>
