@model Web.Areas.Admin.ViewModels.Products.ProductListModel

@{
    int nextPage = @Model.CurrentPage + 1;
    int prevPage = @Model.CurrentPage - 1;

    if (nextPage > Model.TotalPages)
    {
        nextPage = Model.TotalPages;
    }
}


<div class="nav-progressive-content">

    <div class="trending">
        <i class="fas fa-angle-double-right"></i>
    </div>


    <div class="navTrend-item">

    </div>


</div>



<div class="sort-btn">

    <div class="count-results">
        <span class="count">
            @Model.Data.Count()  results
        </span>
    </div>

</div>


@await Html.PartialAsync("../Shared/PartialView/_shop-picker", Model);
