@model Web.DTOs.ProductDTO


<link href="~/lib/croppie/croppie.css" rel="stylesheet" />
<link href="~/lib/summer-note/summernote-bs4.css" rel="stylesheet" />
<link href="~/lib/file-input 4/css/fileinput.min.css" rel="stylesheet" />
<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />

<style>
    .input-group > .input-group-addon > input[type=checkbox] {
        margin-left: 10px;
    }

    .input-group.file-caption-main.no-browse {
    }
</style>

<div class="contenti">
    <div class="container">
            <form asp-controller="Products" asp-action="AddProduct" method="post">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Name:</label>
                            <input asp-for="Name" type="text" class="form-control required" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Description:</label>

                            <input asp-for="Description" type="text" class="form-control required" />

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>ImageFile:</label>

                            <input asp-for="ImageFile" type="text" class="form-control required" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>UnitPrice:</label>
                            <input asp-for="UnitPrice" type="text" class="form-control required" />
                        </div>
                    </div>

                  

                    @*@Html.DropDownList(Model.CategoryName, new SelectList(catgeories),"Select Category")*@

                   

                    <select asp-for="CategoryId" asp-items="@(new SelectList(@ViewBag.ListCategories,"Id","Name"))">
                           <option value="">Select Role</option>
                    </select>


                    <button class="btn btn-primary" type="submit">
                        Add
                    </button>



                </div>
            </form>
</div>
</div>

