@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ICollection<Core.Entites.Catalog.CategorySpecificationGroup>


<div class="block product-filters">
    @*@if (Model.PriceRangeFilter.Enabled)
        {
            @await Html.PartialAsync("_FilterPriceBox", Model.PriceRangeFilter)
        }*@

    @*@if (Model.SpecificationFilter.Enabled)
        {*@
    @await Html.PartialAsync("_FilterSpecsBox", Model)
    @*}*@

    @*@if (Model.ManufacturerFilter.Enabled)
        {
            @await Html.PartialAsync("_FilterManufacturerBox", Model.ManufacturerFilter)
        }*@
</div>