@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ICollection<Core.Entites.Catalog.CategorySpecificationGroup>



@foreach (var c in Model)
{
    @foreach (var s in @c.specificationAttributeGroup.SpecificationAttribute)
    {
        <label>@s.Name</label>

        @foreach (var e in s.specificationAttributeOptions)
        {
                <a asp-controller="Category" asp-action="Index" asp-route-FilterID="@e.Id">@e.Name</a>
        }
    }

}



