@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Web.DTOs.ProductDTO>


    <div class="container section-title mt-5">

        <div class="row">

            <div class="col-lg-7 col-md-6 col-sm-12">
                <div class="featured-products">
                    New Products
                </div>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="carosul-links">

                    <a class="link active" href="#">KITCHEN</a>

                    <a class="link" href="#">DINNIG</a>

                    <a class="link" href="#">SPORT</a>

                    <a class="link" href="#">SWIM</a>

                </div>
            </div>
        </div>
    </div>

    <div class="section-products">
        <div class="main-Container">

            <div class="container">

                <div class="row products-list">


                    @foreach (var product in Model)
                    {
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-5 ec-product-content">

                        <div class="product item">

                            <div class="product-image">

                                <a href="#">

                                    <img class="pic-prduct" src="/uploads/@product.productPictures[0].picture.MimeType" />

                                </a>
                                @if (product.HasDiscountsApplied == true)
                                {
                                    <span class="discount">@product.Discounts[0].discounts.DiscountPercentage %</span>

                                    <div class="product-button">
                                        <a href="Javascript:Void(0)" onclick="AddToCart(4);" class="tool-btn" data-mode="top" data-tip="Add to cart"><i class="fa fa-shopping-bag"></i></a>
                                        <a href="Javascript:Void(0)" onclick="AddToWish(4);" class="tool-btn" data-mode="top" data-tip="Add to wish"><i class="fa fa-heart"></i></a>
                                        <a href="Javascript:Void(0)" onclick="AddToCompare(4);" class="tool-btn" data-mode="top" data-tip="Add To Compare"><i class="fa fa-refresh"></i></a>
                                    </div>
                                }
                            </div>




                            <div class="product-desc">


                                <div class="category">
                                    @product.Category.Name
                                </div>

                                <div class="name">

                                    @product.Name

                                </div>

                                <div class="price">
                                    @if (product.HasDiscountsApplied == true)
                                    {
                                        <del class="old-price"> $@product.OldPrice</del>
                                    }
                                    <span class="product-price">$@product.Price</span>
                                </div>
                            </div>
                             </div>
                        </div>
                    }


                </div>

            </div>

            <div class="browse-btn">

                <a href="#">
                    BROWSE ALL ->
                </a>

            </div>

        </div>

    </div>
