@model IEnumerable<Core.Entites.Discount>

    <div class="jumbotron">
        <div class="container-fluid">

            <div class="row">
                @foreach (var discount in Model)
                {

                    if (discount.DiscountTypeId == 1)
                    {
                    <div class="col-lg-3 col-md-6 col-12">
                        <a asp-controller="Discount" asp-route-discountSlug="@discount.slug" asp-action="Index">

                           <img class="img-fluid"
                             src="/uploads/@discount.picture.MimeType" />
                        </a>
                    </div>
                    }
                    else
                    {
                    <div class="col-lg-3 col-md-6 col-12">
                        <a asp-controller="Discount" asp-route-discountSlug="@discount.slug" asp-action="Index">

                            <img class="img-fluid"
                                 src="/uploads/@discount.picture.MimeType" />
                        </a>
                    </div>
                    }
                }
            </div>
        </div>
    </div>
