@model IEnumerable<Core.Entites.Discount>

    <div class="jumbotron">
        <div class="container-fluid">

            <div class="row">
                @foreach (var discount in Model)
                {

                    if (discount.DiscountTypeId == 1)
                    {
                        
                        <div class="col-lg-3 col-6">

                            <img class="img-fluid" src="~/images/HomeBanners/@discount.Picture">

                        </div>
                    }
                    else
                    {
                    <div class="col-lg-6 col-12">
                        <img class="img-fluid" src="~/images/HomeBanners/@discount.Picture">
                    </div>
                    }
                }
            </div>
        </div>
    </div>
