@model Web.DTOs.RegisterDTO


<div class="heading">

    <div class="titlee">
        CREATE AN ACCOUNT
    </div>
</div>

<form asp-controller="Account" asp-action="Register" method="post">

    <div asp-validation-summary="All"></div>

    <input asp-for="UserName" class="form-control" type="text" placeholder="Name">

    <input asp-for="Email" class="form-control" type="email" placeholder="Email">

    <input asp-for="Password" class="form-control" type="password" placeholder="Password">

    <input class="form-control" type="password" placeholder="Confirm Password">

    <div class="form-footer">

        <button class="btn btn-primary" type="submit">
            CREATE ACCOUNT
        </button>
    </div>

</form>
