@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Web.Areas.Admin.ViewModels.Catalog.AProductAttributeAdd;

<form asp-controller="Product" asp-action="ProductAttributeAdd" method="post">

    <input type="hidden" asp-for="ProductId" />

    <div class="row">
    
        <div class="col-md-12">
            <div class="form-group">
                <label>Choose Attribute</label>
               
                <select asp-for="ProductAttributeId">

                    @foreach (var attr in Model.productAttributes)
                    {
                        <option value="@attr.Id">@attr.Name</option>
                    }
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">
            Add
        </button>

        <h3> You need to save the product attribute before you can add values for this product attribute page. </h3>
    </div>
</form>
