
@{
    ViewData["Title"] = "Index";
}

<!----Disccount News---->

<div class="alert">

    <h1>Get 10% OFF at the Porto Kitchen Selection -<a class="shop" href="#">Shop Now!</a> </h1>

</div>


<!---Products Hot proucts-->

<div class="jumptronn">
    <div class="containerr">

        <div class="row">

            <div class="col-lg-5 col-md-5 col-sm-12 ">

                <div class="row left">

                    <div class="col-lg-12 col-md-12 col-sm-12  ">

                        <div class="content-box">
                            <img src="~/images/header/a.png">

                            <div class="content">

                                <div class="header-content">
                                    <h3> Black Shoes </h3>
                                </div>

                                <div class="price-content">
                                    <h6> Price Starts from 100$ </h6>
                                </div>

                                <a href="#">
                                    SHOP NOW
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 mt-3 ">

                        <div class="content-box">
                            <img src="~/images/header/a.png">

                            <div class="content">

                                <div class="header-content">
                                    <h3> Black Shoes </h3>
                                </div>

                                <div class="price-content">
                                    <h6> Price Starts from 100$ </h6>
                                </div>

                                <a href="#">
                                    SHOP NOW
                                </a>
                            </div>
                        </div>

                    </div>



                </div>

            </div>


            <div class="col-lg-7 col-md-7 col-sm-12 ">


                <div class="content-box  ">
                    <img src="~/images/header/d.png">

                    <div class="content-right">

                        <div class="header-content">
                            <h3> Black Shoes </h3>
                        </div>

                        <div class="price-content">
                            <h4> Price Starts from 100$ </h4>
                        </div>

                        <a href="#">
                            SHOP NOW
                        </a>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>


<!---Eco -->

<div class="container">
    <div class="row mt-5">

        <div class="col-lg-3 col-md-3 col-sm-12 col-12 ">

            <div class="flex-Container">

                <img src="icons/truck.svg">
                <div class="head">
                    <div class="top">

                        <span>
                            FREE SHIPPING & RETURN

                        </span>

                    </div>

                    <div class="desc">
                        <span>
                            Free shipping on all orders over $99.

                        </span>

                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-12 ">

            <div class="flex-Container">

                <img src="icons/truck.svg">
                <div class="head">
                    <div class="top">

                        <span>
                            FREE SHIPPING & RETURN

                        </span>

                    </div>

                    <div class="desc">
                        <span>
                            Free shipping on all orders over $99.

                        </span>

                    </div>
                </div>


            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12 ">

            <div class="flex-Container">

                <img src="icons/truck.svg">
                <div class="head">
                    <div class="top">

                        <span>
                            FREE SHIPPING & RETURN

                        </span>

                    </div>

                    <div class="desc">
                        <span>
                            Free shipping on all orders over $99.

                        </span>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12 ">

            <div class="flex-Container">

                <img src="icons/truck.svg">
                <div class="head">
                    <div class="top">

                        <span>
                            FREE SHIPPING & RETURN

                        </span>

                    </div>

                    <div class="desc">
                        <span>
                            Free shipping on all orders over $99.

                        </span>

                    </div>
                </div>

            </div>
        </div>



    </div>
</div>
<hr>




<div class="container mt-5">

    <div class="row">


        <div class="col-lg-5 col-md-5 col-sm-12">

            <div class="featured-products">
                FEATURED PRODUCTS
            </div>

        </div>


        <div class="col-lg-7 col-md-7 col-sm-12">

            <div class="carosul-links">
                <a class="link" href="#">NEW ARRIVALS</a>

                <a class="link" href="#">KITCHEN</a>

                <a class="link" href="#">DINNIG</a>

                <a class="link" href="#">SPORT</a>

                <a class="link" href="#">SWIM</a>

                <a class="link" href="#">OFFICE</a>

                <a class="link" href="#">OFFICE</a>

                <a class="link" href="#">OFFICE</a>

            </div>


        </div>






    </div>




</div>




<div class="contain">

    <div class="owl-carousel carousel-main">
        <div class="product item">

            <div class="product-image">

                <a href="#">

                    <img class="pic-prduct" src="~/images/header/table.png">

                </a>

                <span class="discount">Sale</span>

                <div class="quick-view">
                    <span class="text">
                        Quick View
                    </span>
                </div>

            </div>

            <div class="category">
                Kitchen
            </div>

            <div class="name">

                Mouse

            </div>
            <div class="price">

                $12.00
            </div>


            <div class="Cart-add">

                <div class="pic-cart">
                    <img src="icons/cart.svg">
                </div>

                <a hre="#" class="add-cartbtn">
                    ADD TO CART
                </a>
            </div>
        </div>
        <div class="product item">

            <div class="product-image">

                <a href="#">

                    <img class="pic-cart" src="~/images/header/table.png">

                </a>

                <span class="discount">Sale</span>

                <div class="quick-view">
                    <span class="text">
                        Quick View
                    </span>
                </div>

            </div>

            <div class="category">
                Kitchen
            </div>

            <div class="name">

                Mouse

            </div>
            <div class="price">

                $12.00
            </div>


            <div class="Cart-add">

                <div class="pic-cart">
                    <img src="icons/cart.svg">
                </div>

                <a hre="#" class="add-cartbtn">
                    ADD TO CART
                </a>
            </div>
        </div>
        <div class="product item">

            <div class="product-image">

                <a href="#">

                    <img class="pic-cart" src="~/images/header/table.png">

                </a>

                <span class="discount">Sale</span>

                <div class="quick-view">
                    <span class="text">
                        Quick View
                    </span>
                </div>

            </div>

            <div class="category">
                Kitchen
            </div>

            <div class="name">

                Mouse

            </div>
            <div class="price">

                $12.00
            </div>


            <div class="Cart-add">

                <div class="pic-cart">
                    <img src="icons/cart.svg">
                </div>

                <a hre="#" class="add-cartbtn">
                    ADD TO CART
                </a>
            </div>
        </div>
        <div class="product item">

            <div class="product-image">

                <a href="#">

                    <img class="pic-cart" src="~/images/header/table.png">

                </a>

                <span class="discount">Sale</span>

                <div class="quick-view">
                    <span class="text">
                        Quick View
                    </span>
                </div>

            </div>

            <div class="category">
                Kitchen
            </div>

            <div class="name">

                Mouse

            </div>
            <div class="price">

                $12.00
            </div>


            <div class="Cart-add">

                <div class="pic-cart">
                    <img src="icons/cart.svg">
                </div>

                <a hre="#" class="add-cartbtn">
                    ADD TO CART
                </a>
            </div>
        </div>

    </div>





</div>



<!---Eco Products-->

<div class="main-Container">

    <div class="container">

        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6">

                <div class="product">

                    <div class="product-image">

                        <a href="#">

                            <img class="pic-cart" src="~/images/header/table.png">

                        </a>

                        <span class="discount">Sale</span>

                        <div class="quick-view">
                            <span class="text">
                                Quick View
                            </span>
                        </div>

                    </div>

                    <div class="category">
                        Kitchen
                    </div>

                    <div class="name">

                        Mouse

                    </div>
                    <div class="price">

                        $12.00
                    </div>




                </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">

                <div class="product">

                    <div class="product-image">

                        <a href="#">

                            <img class="pic-pr" src="~/images/header/table.png">

                        </a>

                        <span class="discount">Sale</span>

                    </div>

                    <div class="category">
                        Kitchen
                    </div>

                    <div class="name">

                        Mouse

                    </div>
                    <div class="price">

                        $12.00
                    </div>





                </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">

                <div class="product">

                    <div class="product-image">

                        <a href="#">

                            <img class="pic-cart" src="~/images/header/table.png">

                        </a>

                        <span class="discount">Sale</span>

                    </div>

                    <div class="category">
                        Kitchen
                    </div>

                    <div class="name">

                        Mouse

                    </div>
                    <div class="price">

                        $12.00
                    </div>





                </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">

                <div class="product">

                    <div class="product-image">

                        <a href="#">

                            <img class="pic-cart" src="~/images/header/table.png">

                        </a>

                        <span class="discount">Sale</span>


                        <div class="quick-view">
                            <div class="text">
                                Quick View
                            </div>
                        </div>

                    </div>

                    <div class="category">
                        Kitchen
                    </div>

                    <div class="name">

                        Mouse

                    </div>
                    <div class="price">

                        $12.00
                    </div>


                </div>

            </div>




        </div>


        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6">

                <div class="product">

                    <div class="product-image">

                        <a href="#">

                            <img class="pic-cart" src="~/images/header/table.png">

                        </a>

                        <span class="discount">Sale</span>

                        <div class="quick-view">
                            <span class="text">
                                Quick View
                            </span>
                        </div>

                    </div>

                    <div class="category">
                        Kitchen
                    </div>

                    <div class="name">

                        Mouse

                    </div>
                    <div class="price">

                        $12.00
                    </div>




                </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">

                <div class="product">

                    <div class="product-image">

                        <a href="#">

                            <img class="pic-pr" src="~/images/header/table.png">

                        </a>

                        <span class="discount">Sale</span>

                    </div>

                    <div class="category">
                        Kitchen
                    </div>

                    <div class="name">

                        Mouse

                    </div>
                    <div class="price">

                        $12.00
                    </div>





                </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">

                <div class="product">

                    <div class="product-image">

                        <a href="#">

                            <img class="pic-cart" src="~/images/header/table.png">

                        </a>

                        <span class="discount">Sale</span>

                    </div>

                    <div class="category">
                        Kitchen
                    </div>

                    <div class="name">

                        Mouse

                    </div>
                    <div class="price">

                        $12.00
                    </div>





                </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">

                <div class="product">

                    <div class="product-image">

                        <a href="#">

                            <img class="pic-cart" src="~/images/header/table.png">

                        </a>

                        <span class="discount">Sale</span>


                        <div class="quick-view">
                            <div class="text">
                                Quick View
                            </div>
                        </div>

                    </div>

                    <div class="category">
                        Kitchen
                    </div>

                    <div class="name">

                        Mouse

                    </div>
                    <div class="price">

                        $12.00
                    </div>


                </div>

            </div>




        </div>



        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6">

                <div class="product">

                    <div class="product-image">

                        <a href="#">

                            <img class="pic-cart" src="~/images/header/table.png">

                        </a>

                        <span class="discount">Sale</span>

                        <div class="quick-view">
                            <span class="text">
                                Quick View
                            </span>
                        </div>

                    </div>

                    <div class="category">
                        Kitchen
                    </div>

                    <div class="name">

                        Mouse

                    </div>
                    <div class="price">

                        $12.00
                    </div>




                </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">

                <div class="product">

                    <div class="product-image">

                        <a href="#">

                            <img class="pic-pr" src="~/images/header/table.png">

                        </a>

                        <span class="discount">Sale</span>

                    </div>

                    <div class="category">
                        Kitchen
                    </div>

                    <div class="name">

                        Mouse

                    </div>
                    <div class="price">

                        $12.00
                    </div>





                </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">

                <div class="product">

                    <div class="product-image">

                        <a href="#">

                            <img class="pic-cart" src="~/images/header/table.png">

                        </a>

                        <span class="discount">Sale</span>

                    </div>

                    <div class="category">
                        Kitchen
                    </div>

                    <div class="name">

                        Mouse

                    </div>
                    <div class="price">

                        $12.00
                    </div>





                </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">

                <div class="product">

                    <div class="product-image">

                        <a href="#">

                            <img class="pic-cart" src="~/images/header/table.png">

                        </a>

                        <span class="discount">Sale</span>


                        <div class="quick-view">
                            <div class="text">
                                Quick View
                            </div>
                        </div>

                    </div>

                    <div class="category">
                        Kitchen
                    </div>

                    <div class="name">

                        Mouse

                    </div>
                    <div class="price">

                        $12.00
                    </div>


                </div>

            </div>




        </div>

    </div>

    <div class="browse-btn">

        <a href="#">
            BROWSE ALL ->
        </a>

    </div>

</div>

