@import url('https://fonts.googleapis.com/css?family=Poppins:200italic,300italic,400italic,500italic,600italic,700italic,800italic,700,200,300,600,800,400,500&amp;subset=cyrillic-ext,greek-ext,latin,latin-ext,cyrillic,greek,vietnamese');


html {
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-Container {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

li {
    list-style-type: none;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}
/* Navbar*/
#myCarousel {
    height: 100vh;
    width: 100%;
}
/* logo*/
.navbar-brand {
    width: 140px;
}

/*navbar left and right*/
.navbar .nav-item {
    font-size: 0.8rem;
}

.flex-Container {
    display: flex;
}

    .flex-Container > div {
        margin: 10px;
    }

.logo img {
    height: 100px;
    margin-right: 250px;
}

.navbar .right .nav-item .nav-link {
    margin-top: 0.8rem;
    font-size: 1.5rem;
}

.left .nav-item .nav-link {
    margin-right: 1rem;
    margin-top: 0.4rem;
}

/*navbar hover*/
.navbar .nav-item .nav-link:hover {
    transition: -webkit-text-fill-color 0.5s ease-in-out;
    font-weight: bold;
}
/*navbar hover*/
/*navbar hover*/

.nav-item {
    position: relative;
    margin-left: 40px;
}


.alert {
    margin-top: 20px;
    text-align: center;
    border-radius: 0%;
    color: #ed7e63;
    background-color: #fcf6ef;
}

    .alert h1 {
        font-size: 0.9rem;
        font-weight: 2px;
    }

.shop {
    color: #ed7e63;
    font-weight: bold;
}




.row {
}

.nopadding {
}

.content-box {
    width: inherit;
    height: 100%;
    width: 100%;
    position: relative;
}

.porto-column {
    padding-left: 0;
    padding-right: 10px;
}

@media (max-width: 556px) {
    .content-box h3 {
        font-size: 20px;
    }

    .content-box h6 {
        font-size: 13px;
    }
}

@media (max-width: 504px) {
    .content-box h3 {
        font-size: 13px;
    }

    .content-box h6 {
        font-size: 10px;
    }
}

@media (max-width: 414px) {
    .content-box h3 {
        font-size: 10px;
    }

    .content-box h6 {
        font-size: 9px;
    }

    .content-box a {
        font-size: 9px;
    }
}

@media (max-width: 986px) {
    .main-Container {
        margin-left: 0;
        margin-right: 0;
    }
}


.content-box img {
    height: 100%;
    width: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content-right {
    position: absolute;
    top: 50%;
    right: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content .header-content h3 h4 {
    font-size: 1rem;
}


.row .head .top span {
    font-size: 15px;
    font-weight: bold;
}

.row .head .desc span {
    font-size: 12px;
    font-weight: lighter;
}


.picICon {
    width: 50px;
    height: 30px;
}

.content price-content {
    color: #ed7e63;
}


.row .left {
    margin-right: 20px;
}

.row .bot {
    margin-top: 20px;
}

    .row .bot .cLeft {
        margin-right: 3px;
    }
/*
 
 */
.title {
    text-align: center;
    font-weight: 700;
    font-size: 2.75rem;
}

.pic .picCont img {
    object-fit: cover;
    height: 300px;
    width: 600px;
    transition: all 500ms ease-in-out;
}

.pic {
    overflow: hidden;
    position: relative;
    z-index: 0;
    margin: 2rem;
}


.promotion-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
}





.pic::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-in-out;
}

.promotion-item:hover::after {
    visibility: visible;
    opacity: 1;
}

.promotion-content:hover a {
    cursor: pointer;
    -webkit-text-fill-color: red; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.7px;
    -webkit-text-stroke-color: #1a0252;
    font-weight: bold;
    transition: all 500ms ease-in-out;
}


.pic .picCont img {
    object-fit: cover;
    height: 300px;
    width: 600px;
    transition: all 500ms ease-in-out;
}


.pic {
    position: relative;
}

.product-content {
    text-align: center;
}

.footer {
    margin-top: 10rem;
    background-color: #222222;
    font-size: 1rem;
    -webkit-text-fill-color: #caf913d6; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.7px;
}





.content-pic img {
    width: 100%;
}
/* PRODUCT DETAILS */



.card {
    margin: auto;
    border: none;
}

fieldset.active {
    display: block !important
}

fieldset {
    display: none
}

.pic0 {
}

.product-pic {
    width: 500px;
    height: 500px;
}

.thumbnails {
    margin-top: 2rem;
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.tb {
    width: 62px;
    height: 62px;
    border: 1px solid grey;
    margin: 2px;
    opacity: 0.4;
    cursor: pointer
}

.tb-active {
    opacity: 1
}

.thumbnail-img {
    width: 60px;
    height: 60px
}



/* [1] The container */
/* .active{
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
/* } */

/* [2] Transition property for smooth transformation of images */
/* .active img {
  transition: transform .5s ease;
} */

/* [3] Finally, transforming the image when container gets hovered */
/* .active:hover img {
  cursor: pointer;

  transform:scale(2.5);
  -ms-transform:scale(1.5); /* IE 9 */
/* -moz-transform:scale(1.5); /* Firefox */
/* -webkit-transform:scale(1.5); /* Safari and Chrome */
/* -o-transform:scale(1.5); Opera */
/* } */



.color-select {
}
    /**/
    .color-select li {
        margin-right: 1rem;
    }

.b-color {
    width: 35px;
    height: 35px;
    background-color: black;
}

.color-pick {
    margin-top: 1rem;
}

.size-pick {
    margin-top: 1rem;
}

.r-color {
    width: 35px;
    height: 35px;
    background-color: red;
}

.b-color:hover {
    cursor: pointer;
}

.r-color:hover {
    cursor: pointer;
}

.SizeSwatch {
    cursor: pointer;
    width: 40px;
    height: 25px;
    text-align: center;
    font-size: 0.8rem;
}

.size {
    border: 0.1px solid black;
    opacity: 0.2;
}

.onSize {
    border: 0.1px solid black;
    opacity: 3;
}

.onColor {
    border: 2px solid black;
}

.btnn {
    background-color: #1c1b1b;
    color: white;
    height: 4rem;
}

.price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: #1c1b1b;
}


.reviews p {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: left;
    padding: 3rem 3rem 3rem 0;
    margin-top: 7rem;
}

.card img {
}
/* [2] Transition property for smooth transformation of images */



.sort-btn select {
    background-color: white;
    font-size: small;
    border-radius: 50px;
}



.cart {
    position: fixed;
    background: #F3F3F3;
    width: 400px;
    max-width: 90%;
    height: 100%;
    top: 0;
    right: 0;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transform: translate(500px, 0);
    transition: transform 250ms ease-in-out;
    z-index: 20;
}

body.open .cart {
    transform: translate(0, 0);
}

.cart__header {
    box-sizing: border-box;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 15px 15px;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cart__text {
    float: right;
}

.cart__title {
    font-size: 20px;
    line-height: 40px;
    margin: 0;
    float: left;
}

.cart__products {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 70px 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
}

article {
    padding: 15px;
    border-bottom: 1px dotted #CCC;
}

h1 {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

p {
    font-size: 14px;
    margin: 0;
}

a {
    color: #F00
}

.cart__product {
    display: none;
}

.cart__empty {
    padding: 30px 15px;
    margin: 0;
    font-style: italic;
    text-align: center;
}

.cart__footer {
    box-sizing: border-box;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 15px;
    left: 0;
    bottom: 0;
    z-index: 2;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    text-align: right;
}

.cart__text {
    margin: 0;
}

.lightbox {
    position: fixed;
    background: #000;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: opacity 250ms ease-in-out, width 0ms ease-in-out 250ms;
}

body.open .lightbox {
    width: 100%;
    opacity: 0.8;
    transition: opacity 250ms ease-in-out, width 0ms ease-in-out;
}


/*

*/

.featured-products {
    font-weight: bold;
    letter-spacing: 3px;
}

.carosul-links .link {
    margin-left: 1.5rem;
    color: #817f7f;
    font-weight: 500;
}

.carosul-links .link {
}

/*


*/
.product {
    padding-top: 1.3rem;
}

.product-image {
    position: relative;
}

    .product-image img {
        width: 200px;
        height: 200px;
    }

.quick-view {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: gray;
    height: 50px;
    padding-top: 10px;
}

    .quick-view .text span {
    }



.product-image .discount {
    top: 10px;
    color: white;
    position: absolute;
    left: 10px;
    background-color: #da7676;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
}

.product .category {
    text-align: center;
    font-weight: lighter;
    color: gray;
    font-size: 12px;
}

.product .name {
    text-align: center;
}

.price {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.product .add-btn {
    margin: auto;
    margin-top: 7px;
    width: 35%;
    border: 0.9px solid gray;
}


.product .add-cart {
    color: black;
    font-weight: normal;
    font-size: 10px;
    font-weight: bold;
}

    .product .add-cart img {
        width: 20px;
        height: 20px;
    }

.cart-pic {
    padding: 3px;
    width: 20px;
}

.product:hover .add-btn {
    background-color: black;
}

    .product:hover .add-btn .add-cart {
        color: white;
    }

    .product:hover .add-btn .cart-pic {
        color: white;
    }
.product:hover .product-image .product-button {
    opacity: 1;
    visibility: visible;
}


.price {
    margin-top: 5px;
}

.add-cartbtn {
    color: black;
    font-size: 15px;
}

.Cart-add:hover {
    color: white;
    background-color: black;
}

    .Cart-add:hover .add-cartbtn {
        color: white;
        background-color: black;
    }

.Cart-add {
    display: flex;
    margin-top: 5px;
    border: 2px solid rgb(173, 171, 171);
    justify-content: center;
}

    .Cart-add .pic-cart {
        flex-direction: row;
    }

        .Cart-add .pic-cart img {
            width: 20px;
        }

.pic-pr img {
    width: 100%;
    height: 100%;
}

.pic-prduct img {
    width: 2000px;
    height: 2000px;
}



.pic-prduct img {
    width: 100%;
    height: 100%;
}

.product {
    width: 200px;
}

.browse-btn {
    text-align: center;
    margin-top: 50px;
}

    .browse-btn a {
        border: 1px solid gray;
        color: black;
        padding: 10px;
        border-radius: 4px;
    }

        .browse-btn a:hover {
            background-color: rgba(223, 223, 223, 0.993);
        }


.footer {
    width: 100%;
    height: 450px;
    background-color: #222529;
}

.ropdowncart-toggle {
    position: relative;
}

.dropdowncart-toggle .cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10px;
    height: 15px;
    position: absolute;
    padding-top: 2px;
    right: 0;
    line-height: 1;
    top: 1px;
    border-radius: 50%;
    padding-bottom: 4px;
    font-size: 10px;
    margin-right: 4px;
    font-weight: 600;
    background-color: #ed7d65;
    color: #fff;
    box-shadow: 0 7px 8px rgba(0,0,0,0.05);
}



.dropdown-menu {
    right: 0;
    left: auto;
    width: 300px;
    height: 350px;
    text-align: left;
    padding: 20px;
}

.dropdown-profile {
    right: 0;
    left: auto;
    width: 300px;
    height: 350px;
    text-align: left;
    padding: 20px;
}

.dropdown-cart-header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

    .dropdown-cart-header a {
        color: black;
    }

.product-title {
    font-size: 15px;
    font-weight: bold;
}

.product-details {
}

.dropdown-cart-product {
    display: flex;
    justify-content: space-between;
}

.product-details .cart-product-info {
    font-weight: 400;
    color: gray;
}

.product-image-container {
}

    .product-image-container img {
        width: 80px;
        height: 50px;
    }

.dropdown-cart-total {
    display: flex;
    justify-content: space-between;
}

.dropdown-cart-action {
    background-color: #606da6;
    text-align: center;
    margin-top: 20px;
}

    .dropdown-cart-action a {
        color: white;
    }

    .dropdown-cart-action:hover a {
        color: white;
    }



.dropdown-profile {
    right: 0;
    left: auto;
    width: 300px;
    height: 350px;
    text-align: left;
    padding: 20px;
}







.dropdown-menuCart {
    right: 0;
    left: auto;
    width: 300px;
    height: 350px;
    text-align: left;
    padding: 20px;
}

.profile-header {
    display: flex;
    justify-content: space-between;
}

.dropdown-menu .img img {
    width: 80px;
    height: 90px;
}

.dropdown-menu .user-name {
    margin-top: 9px;
    margin-bottom: 7px;
}

.dropdown-menu .user-email {
    font-weight: 200;
}

.dropdown-cart-action {
    background-color: #212529;
}


.breadcrumb-list {
}

    .breadcrumb-list li {
        display: inline;
        color: black;
    }
/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

    /* Add a slash symbol (/) before/behind each list item */
    ul.breadcrumb li + li:before {
        padding: 8px;
        color: black;
        content: ">\00a0";
    }

    ul.breadcrumb li a {
        display: inline;
        font-size: 11px;
        color: black;
    }

.product-name {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}

.product-desc {
    margin-top: 18px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.page-header {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

    .page-header h1 {
        font-weight: bolder;
        font-size: 50px;
        letter-spacing: 0;
        line-height: 1.1;
        text-transform: uppercase;
    }

.heading {
    margin-top: 20px;
    margin-bottom: 40px;
}

    .heading .titlee {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bolder;
    }

    .heading p {
        font-weight: 400;
        color: gray;
    }

.form-footer {
    margin-top: 20px;
}

    .form-footer .btn {
        margin-right: 2.5rem;
        background-color: #ed7e63;
        border-radius: 0;
        min-width: 124px;
        transition: all .3s;
        border-color: #ed7e63;
    }


        .form-footer .btn:hover {
            background-color: #da7676;
        }

.form-control {
    margin-top: 10px;
    border-radius: 0;
}

::placeholder {
    font-size: 13px;
}

.forget-pass {
    color: black;
    font-size: 13px;
    font-weight: 400;
}

    .forget-pass:hover {
        transition: all .2s ease-out;
        color: #ed7e63;
    }

.title {
    text-align: center;
    font-weight: 700;
}




.product-name {
    font-size: 40px;
    font-weight: bold;
}

.product-desc {
    margin-top: 18px;
    font-weight: lighter;
    margin-bottom: 10px;
}



.cat-header {
    font-size: 15px;
    font-weight: bold;
}


.list-group-item {
    border-style: none;
    font-size: 13px;
    font-weight: 300;
    color: gray;
}

    .list-group-item label {
        margin-left: 5px;
    }

.sort-btn select {
    padding: 10px;
    border-radius: 0;
    border: 1px solid gray;
}

/*
    search
*/

/* 
ddd */

.search {
    position: relative;
    height: 50px;
}

.input[type="text"] {
    font-size: 20px;
    width: 50px;
    height: 50px;
    margin: 0;
    border: 0;
    padding: 10px;
    transition: width 0.3s ease;
    border-radius: 30px;
}

.btn-search {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 0;
    border: 0;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

    .btn-search img {
        width: 50px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 1px;
    }


    .input:focus,
    .btn-search:focus {
        outline: none;
    }

.search.active .input {
    width: 300px;
}

.search.active .btn {
    transform: translateX(250px);
}









.banner-title span {
    background-color: #e14848;
    line-height: 2;
}


.img__banner {
    padding-left: 30px;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
}

.banner-btn {
}

.promotion-content {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
}


.img__banner {
    opacity: 1;
}

    .img__banner:hover {
        opacity: 0.75;
    }


.item-card_list {
    transition: bopacity .3s;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    margin-top: 25px;
}

    .item-card_list:hover {
        opacity: 0.9;
        cursor: pointer;
    }

.title {
    text-align: center;
    font-weight: 700;
}

.cat-block-title {
    color: #333;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 30%;
    letter-spacing: -.01em;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.quick-view {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: rgb(206, 96, 96);
    height: 50px;
    padding-top: 10px;
}

    .quick-view:hover {
        background-color: rgb(196, 76, 76);
        cursor: pointer;
    }


.carosul-links .link {
    margin-left: 1.5rem;
    color: #817f7f;
    font-weight: 500;
}

.carosul-links .active {
    color: rgb(196, 76, 76);
    border-bottom: 1.5px solid red;
}

.carosul-links .link:hover {
    color: rgb(196, 76, 76);
    border-bottom: 1.5px solid red;
}

.price del {
    font-size: 15px;
    color: gray;
}

.price .product-price {
    color: rgb(196, 76, 76);
}

.owl-nav {
    text-align: center;
}

.owl-prev span {
    font-size: 80px;
    color: black;
    margin-right: 55px;
}

    .owl-prev span:hover {
        color: black
    }

.owl-next span {
    font-size: 80px;
    color: black;
}

    .owl-next span:hover {
        color: black
    }


.img__dealproduct {
    height: 150px;
    background-size: cover;
    background-position: center;
    display: block;
}

.dealproduct .promotion-content .banner-title {
    color: white;
}


.section-products {
    margin-top: 120px;
}



.cart-add {
    margin-top: 5px;
    text-align: center;
    border: 1px solid #dddddd;
}

    .cart-add a {
        color: black;
        font-weight: 500;
        ;
    }

        .cart-add a:hover {
            color: rgb(196, 76, 76);
        }

.products-list {
    margin-top: 60px;
}

.product {
    width: 200px;
}

.alert {
    margin-top: 20px;
    text-align: center;
    border-radius: 0%;
    color: #da7676;
    background-color: #fffaf6;
}

.jumbotron img {
    max-height: 300px;
    opacity: 1;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

    .jumbotron img:hover {
        opacity: 0.9;
    }

.navbar .active a {
    border-bottom: 2px solid rgb(196, 76, 76);
}


.navbar .nav-link:hover {
    border-bottom: 2px solid rgb(196, 76, 76);
}

.owl-carousel .owl-item .item-card_list img {
    width: 150px;
    height: 119px;
}


.banner-discount img {
}

#owl-discount .owl-item img {
    display: block;
    height: 500px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.contain {
    margin: auto;
}

.owl-carousel .owl-item .product-image img {
    /* height: 220px; */
    height: 320px;
    width: 260px;
}

.submenu {
    position: absolute;
    background-color: white;
    width: 140px;
    left: 0;
    padding: 0;
    transition: all ease-in 0.3s;
    width: 280px;
    display: none;
}

    .submenu li:hover a {
        color: #da7676;
    }

    .submenu li:hover .arrow {
        border: solid #da7676;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        position: absolute;
        margin-top: 7px;
        right: 10%;
    }

    .submenu a {
        color: rgb(91, 91, 91);
        font-size: 15px;
        margin-left: 20px;
        font-weight: bold;
    }

    .submenu li {
        margin-top: 20px;
    }


.arrow {
    border: solid #1c1b1b;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    margin-top: 7px;
    right: 10%;
}



.submenu li {
    margin-bottom: 10px;
}

.submenu2 {
    transition: 0.3s;
    width: 280px;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    display: none;
    height: 100%;
    border-left: 0.1px solid rgb(209, 203, 203);
}

.navbar-nav li:hover > .submenu {
    display: block;
}

.submenu li:hover > .submenu2 {
    display: block;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.product .product-button {
    position: absolute;
    top: 75%;
    width: 50%;
    display: table;
    text-align: center;
    background-color: white;
    border: 1px solid #eeeeee;
    visibility: hidden;
    transition: visibility 0.3s linear,;
    align-content: center;
    left: 20%;
    right: 20%;
}

    .product .product-button a {
        display: table-cell;
        color: black;
        font-size: 20px;
        padding: 12px 20px;
        border-right: 1px solid #eeeeee;
        transition: color ease-in 0.1s;
        opacity: 0.3s linear;
    }

    .product .product-button .tool-btn:hover {
        color: #da7676;
    }



.product-image img {
    height: 320px;
    width: 260px;
}

nav .fa {
    font-size: 25px;
    color: #282626;
    margin-right: 15px;
}


.add-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-itemP svg {
    font-size: 25px;
    color: #282626;
    margin-right: 15px;
}







.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: solid 1px #D5DBDB;
    border-left: solid 1px #D5DBDB;
}



.grid-products {
    border-top: solid 1px #D5DBDB;
}
.product-detail .row {
    margin: 0;
}



.product-name {
    font-size: 17px;
    font-weight: 500;
    min-height: 60px;
}

.product-price .a-price-symbol {
    top: -0.6em;
    font-size: 12px;
    position: relative;
    color: #505252;
}

.product-price .a-price-whole {
}

.product-price .a-price-discount {
    font-size: 13px;
    color: #6b6c6c;
    text-decoration: line-through;
}

.product-price {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 6px;
    font-size: 20px;
    font-weight: 300;
    color: #0F1111;
}

    .product-price .a-price-whole {
        font-size: 30px;
        font-weight: lighter;
    }

.rating {
    margin-top: 10px;
    color: rgb(255, 125, 31);
}

.product-price {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 6px;
    font-size: 20px;
    font-weight: 300;
    color: #0F1111;
    margin-bottom: 50px;
}

.product-line {
    border-bottom: 2px solid #ddd;
}

.product-item {
    margin-top: 50px;
}

    .product-item .product-name:hover {
        color: rgb(170, 81, 81);
        cursor: pointer;
    }

.filter-options {
    margin-top: 15px;
    font-weight: 500;
    display: inline-block;
    cursor:pointer;
}

    .filter-options .option {
        display: inline-block;
        font-weight: 500;
        background-color: white;
        border: 0;
    }

    .filter-options a {
        margin-top: 5px;
        max-width: 150px;
        overflow: hidden;
        font-weight: 600;
    }

    .filter-options .a-section {
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: #f4f4f4;
        border-radius: 20%;
        color: black;
    }

        .filter-options .a-section:hover {
            background-color: #eeeeee;
        }

.filter-section {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
}


.filter-category {
}

.filter-header {
    font-size: 20px;
    color: black;
    font-weight: 500;
    display: block;
    margin-top: 30px;
}

    .filter-header:hover {
        cursor: pointer;
        color: #da7676;
    }


    .filter-header a {
        flex-direction: row;
    }

    .filter-header .arrow {
    }

.hide-option {
    display: none;
}

.show-option {
    display: block;
}


.Product-Img {
    width: 350px;
    height: 253px;
}

    .Product-Img img {
        width: 100%;
        height: 100%;
    }



.nav-progressive-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .nav-progressive-content .trending {
        color: white;
        font-size: 25px;
        margin-left: 10px;
    }

    .nav-progressive-content .navTrend-item a {
     
        display: inline-block;
      
        padding-right: 10px;
        margin-top: 5px;
        margin-left: 20px;
        color: white;
        font-size: 16px;
        font-weight: 100;
    }

        .nav-progressive-content .navTrend-item:hover {
            cursor: pointer;
            color: #ff7d1f;
        }

    .nav-progressive-content .trending:hover {
        cursor: pointer;
        color: #ff7d1f;
    }

    .nav-progressive-content .sale-pic img {
        width: 400px;
        height: 40px;
    }

    .nav-progressive-content .sale-pic {
        position: absolute;
        right: 0;
    }
.nav-progressive-content {
    width: 100%;
    height: 40px;
    background-color: #232f3e;
}


    .nav-progressive-content a:hover {
        cursor: pointer;
        color: #ff7d1f;
    }



.sort-btn {
    padding: 10px;
    margin-top: 20px;
    background-color: whitesmoke;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.sort-btn {
    display: flex;
    flex-direction: row;
}

.sort-btn select {
        padding: 10px;
        border-radius: 0;
        border: 1px solid gray;
        margin-left: auto;
    }

.product-item {
    border-bottom: 1px solid #d0cece;
}



.pagination ul {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin: auto;
    margin-top: 50px;
}

.pagination .active a {
    background-color: #232f3e;
    color: whitesmoke;
}

.pagination .page-link {
    color: black;
}

.pagination .disabled a {
    pointer-events: none;
    background-color: #232f3e;
    color: whitesmoke;
}

.pagination .current {
    background-color: red;
}

.selected {
    border: 1px solid black !important;
}