@model IEnumerable<Core.Entites.Category>

    <div class="list_item_categories mt-5">

        <div class="container">

            <div class="col-lg-7 col-md-6 col-sm-12">
                <div class="featured-products">
                    Categories
                </div>
            </div>

            <div class="contain">

                <div id="owl-category" class="owl-carousel carousel-main">

                    @foreach (var cat in Model)
                    {
                        @if (cat.categoryPictures != null)
                        {
                            <div class="item-card_list">

                                <div class="category-image">

                                    <a asp-controller="Category" asp-action="Index" asp-route-cat="@cat.Name">

                                        <img class="lazyautosizes lazyloaded " data-widths="[160, 240, 320]"
                                             data-aspectratio="" data-sizes="auto"
                                             alt="" style=""
                                             src="/uploads/@cat.categoryPictures[0].picture.MimeType" />

                                    </a>
                                </div>
                                <div class="category-name">
                                    <h3 class="cat-block-title">@cat.Name</h3>

                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>

    </div>
