@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Web.Areas.Admin.ViewModels.Catalog.ACategoryModel

<div class="contenti">
    <div class="container">
        <form asp-controller="Category"  enctype="multipart/form-data" asp-action="AddCategory" method="post">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Name:</label>
                        <input asp-for="Name" type="text" class="form-control required" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Description:</label>

                        <input asp-for="Description" type="text" class="form-control required" />

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>ImageFile:</label>
                        <input type="file" accept="image/*" name="ImgCategory" asp-for="ImgCategory" />
                    </div>
                </div>

                <label>
                    Parent category:
                </label>

                <select asp-for="ParentCategoryId">

                    <option value="0">None</option>
                    @foreach (var category in Model.AvailableCategories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }

                </select>

                <button class="btn btn-primary" type="submit">
                    Add
                </button>

            </div>
        </form>
    </div>
</div>

